.message-list {
    width: 100%;
    min-height: 100vh;
    border-left: 3px solid #AFEEEE;
    border-right: 3px solid #AFEEEE;
    background-color:#E0FFFF;
    padding: 10px;
    box-sizing: border-box;
}

.input-text {
    margin-right: 2%;
}

.message-form {
    display: flex;
    justify-content: space-between;
}

.input-group {
    display: flex;
    width: 100%;
}

.input-text {
    flex-grow: 1;
    margin-right: 30px;
}

.input-author {
    flex-grow: 0.25;
    margin-right: 30px;
}

.btnAddMessage {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    transition: all 0.3s;
}

.btnAddMessage:hover {
    background: #1d49aa;
}
  
.btnAddMessage:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}

.message {
    border: 2px solid #5F9EA0;
    padding: 7px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: inline-block;
    max-width: 100%;
    box-sizing: border-box;
}

.messages {
    margin: 15px 15px 0 15px;
    display: flex;
    flex-direction: column;
}

.messages-item {
    word-break: break-all;
}

.author {
    color: #FF0000;
}